:root 
{
    --base_bg: pink;
    --hover-color: rgb(255, 157, 0);
    --base-text: whitesmoke;
    --click-color: cyan;
    --in-dev-color: yellow;
    --screen_bg: black;
    --screen_color: rgb(213, 111, 213);
}

body 
{
    background-color: var(--base_bg);
    color: var(--base-text);
}

.watch
{
    position: absolute;
    border-radius: 25px;
    border: 2px solid var(--base-text);
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 3em;
    font-family: PT Mono;
    letter-spacing: 7px;
    text-align: center;
}

#frame
{
    border-radius: 30px;
    border: 2px solid var(--base-text);
    margin: 10pt;
}

#StopWatchDisplay
{
    border-radius: 25px;
    color: var(--screen_color);
    background-color: var(--screen_bg);
    font-weight: bold;
    font-size: 3.5em;
    margin: 5pt;
    padding: 10pt;
}

.buttons
{
    display: flex;
    justify-content: space-around;

}

.buttons > button
{
    border-radius: 25px;
    border: 2px solid var(--base-text);
    padding: 0 20px;
    font-size: 20pt;
    background-color: var(--base_bg);
    color: var(--base-text);
    margin: 10pt;
    font-family: PT Mono;
    opacity: 0.8;
}

.buttons > button:hover
{
    opacity: 1.0;
}

.buttons > button:active
{
    background-color: var(--click-color);
    color: var(--base_bg);
    font-weight: bold;
}
